* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

body {
    background-color: black;
}

.card {

    background-color: bisque;

    p {
        font-family: fantasy;
        color: tomato;
    }

    display: flex;

    align-items: center;

    height: 100%;

    box-shadow: 10px 10px 10px yellow;


}

main {
    background-color: black;
}

header {
    margin-bottom: -8px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}